@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin hover {

	&:hover,
	&:focus,
	&:active {
		@content;
	}
}
