//----------  banner
//------------------------------------------------------------------------------
.banner {
	margin-bottom: 20px;
	padding: 0 30px;
}

.banner-inner {
	min-height: 245px;
	background-color: $blue;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 40px;
	.uk-container {
		height: 100%;
		min-height: inherit;
	}
}
