.services-section {
    padding: 80px 0 40px;

    h2 {
        font-size: 57px;
    }

    .uk-grid-small>* {
        padding-left: 5px;
    }

    .services-box {
        &:first-of-type .uk-card {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        &:last-of-type .uk-card {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    .uk-card {
        position: relative;
        min-height: 400px;
        overflow: hidden;

        >a {
            z-index: 1;
        }

        @include hover {
            box-shadow: 0 12px 42px -11px rgba($blue, .6);

            .uk-card-body {
                background: linear-gradient(to top, $blue 55%, transparent 100%);
                transform: translateY(0);
                min-height: 80%;
            }

            .services-text {
                opacity: 1;
                transform: translateY(0);
            }

            p {
                top: 0;
            }
        }
    }

    .uk-card-title,
    p,
    .uk-button {
        color: $white;
    }

    .uk-card-title {
        text-transform: uppercase;
    }

    .services-text {
        opacity: 0;
        transition: $nbSec ease-in-out;
        position: absolute;
        transform: translateY(100%);
        left: 40px;
        width: calc(100% - 70px);
    }

    .uk-card-body {
        background: linear-gradient(to top, $blue-transp 53%, transparent 100%);
        padding: 80px 30px 30px 40px;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        min-height: 160px;
        transform: translateY(12px);
        transition: $nbSec ease-in-out;

        p {
            position: relative;
            top: 20px;
            margin-top: 0;
            transition: .1s ease-in;
            margin-bottom: 15px;
        }
    }

    @media (max-width: $breakpointLarge) {
        .uk-card {
            @include hover {
    
                .uk-card-body {
                    min-height: 100%;
                }
            }
        }
    }

    @media (max-width: $breakpointSmallMax) {
        padding: 50px 0;

        .uk-grid-small>* {
            padding-left: 15px;
        }

        *+.uk-grid-margin-small,
        .uk-grid+.uk-grid-small,
        .uk-grid-small>.uk-grid-margin {
            margin-top: 5px;
        }

        .services-box {
            &:first-of-type .uk-card {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
    
            &:last-of-type .uk-card {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }

        .uk-card {
            border-radius: 15px;
            @include hover {
    
                .uk-card-body {
                    min-height: 70%;
                }
            }
        }
    }

    @media (max-width: $breakpointXsmallMax) {

        .uk-container {
            padding: 0 20px;
        }

        .uk-card-body {
            padding: 60px 20px 30px;
            transform: translateY(45px);
        }

        h2 {
            font-size: 44px;
            margin-bottom: 15px;
        }

        .uk-card {
            border-radius: 10px;
            @include hover {
    
                .uk-card-body {
                    min-height: 70%;
                }
            }
        }

        .uk-card-title {
            font-size: 20px;
        }

        .services-text {
            left: 20px;
            width: calc(100% - 40px);
        }
    }

    @media (max-width: $breakpointMobile) {
        .services-box {
            &:first-of-type .uk-card {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
    
            &:last-of-type .uk-card {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        .uk-card {
            border-radius: 10px;
            @include hover {
    
                .uk-card-body {
                    min-height: 90%;
                }
            }
        }
    }
}
