//----------  typography
//------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-default;
	line-height: 1.35em;
	font-weight: $extra-bold;
}

h2,
h3,
h4,
h5,
h6 {
	color: $blue;
}

h1 {
	font-size: 54px;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 0;

	@media (max-width: $breakpointMedium) {
		font-size: 46px;
	}

	@media (max-width: $breakpointSmall) {
		font-size: 24px;
	}
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
	text-transform: uppercase;
}

p {
	font-size: 18px;
	color: $nbBlack;

	a {
		color: $blue;
		position: relative;
		display: inline-block;
		z-index: 0;

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 0;
			background-color: $blue;
			transition: inherit;
		}

		@include hover {
			text-decoration: none;
			color: $white;

			&::after {
				height: 100%;
			}
		}
	}
}

blockquote {
	margin-left: 8px;
	position: relative;
	padding: 2px 25px 11px 50px;
	font-style: normal;

	.lines::before,
	.lines::after,
	&::before {
		position: absolute;
		left: -6px;
	}

	.lines {

		&::before,
		&::after {
			content: '';
			width: 6px;
			height: 41%;
			background-color: $blue;
			z-index: 0;
			border-radius: 3px;
		}
		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}


	&::before {
		color: $green;
		font-size: 22px;
		transform: translate(-35%, -50%);
		z-index: 1;
		top: 50%;
	}

	p,
	span {
		color: $blue;
	}

	p {
		font-size: 26px;
		margin-bottom: 20px;
		margin-top: 0;

		&:last-of-type {
			margin-bottom: 10px;
		}
	}

	span {
		font-size: 18px;
	}
	
	@media (max-width: $breakpointSmall) {
		padding: 2px 25px 11px 30px;
		p {
			font-size: 22px;
		}
	}
}

ul {
	list-style-type: none;
}

ol li {
	list-style-type: decimal;
}


img {
	width: 100%;
	max-width: none;
	height: auto;
}
