@font-face {
	font-family: 'svgicons';
	src: url('../fonts/svgicons.woff2') format('woff2'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
		font-display: swap;
}

@mixin font-styles {
	font-family: 'svgicons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: block;
	line-height: 1;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == arrow-left {
		$char: '\E001';
	}
	@if $filename == arrow-right {
		$char: '\E002';
	}
	@if $filename == calendar {
		$char: '\E003';
	}
	@if $filename == caret-right {
		$char: '\E004';
	}
	@if $filename == chevron-arrow-down {
		$char: '\E005';
	}
	@if $filename == chevron-left {
		$char: '\E006';
	}
	@if $filename == chevron-right {
		$char: '\E007';
	}
	@if $filename == crew {
		$char: '\E008';
	}
	@if $filename == download {
		$char: '\E009';
	}
	@if $filename == envelope {
		$char: '\E00A';
	}
	@if $filename == external-link {
		$char: '\E00B';
	}
	@if $filename == instagram-logo {
		$char: '\E00C';
	}
	@if $filename == live-streaming {
		$char: '\E00D';
	}
	@if $filename == minus {
		$char: '\E00E';
	}
	@if $filename == play-button-arrowhead {
		$char: '\E00F';
	}
	@if $filename == plus {
		$char: '\E010';
	}
	@if $filename == quote {
		$char: '\E011';
	}
	@if $filename == right-arrow {
		$char: '\E012';
	}
	@if $filename == rounded-corner-white-1 {
		$char: '\E013';
	}
	@if $filename == rounded-corner-white {
		$char: '\E014';
	}
	@if $filename == ship {
		$char: '\E015';
	}
	@if $filename == time {
		$char: '\E016';
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

[class*='font-ico'] {
	display: inline-block;
}

.font-arrow-left {
	@include font(arrow-left);
}
.font-arrow-right {
	@include font(arrow-right);
}
.font-calendar {
	@include font(calendar);
}
.font-caret-right {
	@include font(caret-right);
}
.font-chevron-arrow-down {
	@include font(chevron-arrow-down);
}
.font-chevron-left {
	@include font(chevron-left);
}
.font-chevron-right {
	@include font(chevron-right);
}
.font-crew {
	@include font(crew);
}
.font-download {
	@include font(download);
}
.font-envelope {
	@include font(envelope);
}
.font-external-link {
	@include font(external-link);
}
.font-instagram-logo {
	@include font(instagram-logo);
}
.font-live-streaming {
	@include font(live-streaming);
}
.font-minus {
	@include font(minus);
}
.font-play-button-arrowhead {
	@include font(play-button-arrowhead);
}
.font-plus {
	@include font(plus);
}
.font-quote {
	@include font(quote);
}
.font-right-arrow {
	@include font(right-arrow);
}
.font-rounded-corner-white-1 {
	@include font(rounded-corner-white-1);
}
.font-rounded-corner-white {
	@include font(rounded-corner-white);
}
.font-ship {
	@include font(ship);
}
.font-time {
	@include font(time);
}
