//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	transition: $nbSec ease-in-out;
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.uk-button {
	background-color: transparent;
	display: inline-block;
	font-size: 16px;
	font-weight: $extra-bold;
	border-radius: 9px;
	position: relative;
	overflow: hidden;
	padding: 6px 50px 9px 30px;
	transition: 0.4s ease-out;
	text-transform: initial;
	min-width: 230px;
	text-align: left;
	color: $white;
	z-index: 1;

	>span,
	&::before,
	&::after {
		position: absolute;
		transition: 0.5s ease-in-out;
	}

	&::before,
	&::after {
		content: '';
	}

	>span {
		top: 50%;
		transform: translateY(-50%);
		right: 30px;

		&::before {
			content: font-char($arrow-right);
			font-family: 'svgicons';
			color: $white;
			font-size: inherit;
		}
	}

	&::after {
		@include absolute(0, 0, 0, 0);
		z-index: -2;
	}

	&::before {
		@include absolute(0, -50px, 0, 0);
		transform: translateX(-100%);
		z-index: -1;
	}

	&.uk-button-small {
		padding: 6px 35px 6px 25px;
		font-size: 14px;
		min-width: 170px;

		>span {
			right: 20px;
		}
	}

	&.uk-button-large {
		padding: 6px 50px 9px 40px;
		font-size: 20px;
		min-width: 240px;

		>span {
			right: 25px;
		}
	}

	@include hover {
		background-color: transparent;
		color: $white;

		&::before {
			transform: translateX(0);
		}
	}
}

.uk-button-primary {
	&::after {
		background-color: $blue;
	}

	&::before {
		border-right: 50px solid transparent;
		border-bottom: 80px solid $blue-dark;
	}
}

.uk-button-default {
	transition: .5s ease-in-out;
	border: 2px solid $blue;
	color: $blue;

	&::before {
		border-right: 50px solid transparent;
		border-bottom: 80px solid $blue-dark;
	}

	>span::before {
		color: $blue;
		transition: .5s ease-in-out;
	}

	@include hover {
		color: $white;
		border-color: $blue-dark;

		>span::before {
			color: $white;
		}
	}
}

.uk-button-secondary {
	&::after {
		background-color: $green;
	}

	&::before {
		border-right: 50px solid transparent;
		border-bottom: 80px solid $green-dark;
	}
}

.uk-button-text {
	padding: 0 30px 0 0;
	color: $blue;
	transition: $nbSec ease-in-out;
	min-width: auto;

	&::after {
		display: none;
	}

	&::before {
		content: font-char($arrow-right);
		font-family: 'svgicons';
		color: inherit;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		left: auto;
		bottom: auto;
		transition: $nbSec ease-in-out;
		border: 0;
	}

	&.uk-text-large {
		font-size: 20px;
		padding: 0 40px 0 0;
	}

	@include hover {
		color: $blue-dark;

		&::before {
			transform: translateY(-50%);
			color: inherit;
		}
	}
}

.enquire-button {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 5;
	border-radius: 0;
	text-align: center;
	font-size: 18px;

	span {
		transform: none;
		right: auto;
		margin-left: 18px;
		position: relative;
		top: 2px;
	}
}

.scroll-button {
	position: absolute;
	left: 70px;
	display: inline-block;
	bottom: 0;
	transform: translateY(50%);
	z-index: 0;
	width: 125px;
	height: 125px;

	&::after,
	a,
	a::before {
		position: absolute;
	}

	&::after {
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -35%);
		content: '';
		height: 60px;
		width: 118px;
		border-radius: 0 0 90px 90px;
		background-image: linear-gradient(to top, $blue, $blue, $blue, $blue, transparent);
		z-index: 0;
	}

	a {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: $green;
		top: calc(50% - 22px);
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

		&::before {
			color: $white;
			font-family: 'svgicons';
			font-size: 26px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: font-char($chevron-arrow-down);
			z-index: 1;
			transition: $nbSec ease-in-out;
		}
		@include hover {
			text-decoration: none;
			&::before {
				transform: translate(-50%, -30%);
			}
		}
	}

	@media (max-width: $breakpointMediumMax) {
		&::after {
			transform: translate(-50%, -30%);
		}
		a {
			transform: translate(-50%, -45%);
		}
	}
	@media (max-width: $breakpointXsmallMax) {
		width: 78px;
		height: 78px;
		left: 35px;
		&::after {
			background-image: linear-gradient(to top, $blue, $blue, $blue, $blue, transparent);
			height: 39px;
			width: 77px;
		}
		a {
			width: 48px;
			height: 48px;
			transform: translate(-50%, -32%);
			&::before {
				font-size: 20px;
			}
		}
	}
}
