.nb-main {

	.uk-text-lead {
		font-weight: $extra-bold;
		font-size: 26px;
		color: $blue;
		margin-bottom: 30px;
		margin-top: 15px;
	}
	@media (max-width: $breakpointXsmallMax) {
		.uk-container {
			padding: 0 20px;
		}
		.uk-text-lead {
			font-size: 22px;
		}
	}
}

.nb-block {
	clear: both;
	margin: $nbSpace 0;

	&:first-of-type {
		margin-top: 0;
	}

	.uk-alert {
		box-shadow: 0 10px 15px -13px rgba($black, .2);
		padding: 20px 30px 18px;
		border-radius: 20px;

		&.uk-alert-primary {
			background-color: $blue-pastel;
			color: $blue-dark;
		}

		&.uk-alert-success {
			background-color: $green-pastel;
			color: $green-success;
		}

		&.uk-alert-warning {
			background-color: $orange-pastel;
			color: $orange-warning;
		}

		&.uk-alert-danger {
			background-color: $red-pastel;
			color: $red-danger;
		}
	}

	&-content {

		figure {
			display: table;
			margin-top: 0;
			outline: none;

			a {
				cursor: zoom-in;
				display: block;
				width: 100%;
			}

			img {
				border-radius: 10px;
				display: block;
				height: auto;

				@media (max-width: $breakpointMobile) {
					width: 100%;
				}
			}
		}

		figcaption {
			caption-side: bottom;
			display: table-caption;
			font-size: 14px;
			padding: 15px 5px;
			text-align: left;
			color: $nbBlack;
		}

		.align_right {
			float: right;
			margin-bottom: $nbSpace;
			margin-left: $nbSpace;
		}

		.align_left {
			float: left;
			margin-bottom: $nbSpace;
			margin-right: $nbSpace;
		}

		.align_center {
			clear: both;
			margin: 0 auto;
			text-align: center;
			width: 100%;
		}

		ul:not(.uk-accordion) {
			padding-left: 0;

			li {
				padding-left: 25px;
				position: relative;
				font-size: 18px;

				&:not(:last-of-type) {
					margin-bottom: 7px;
				}

				&::after {
					position: absolute;
					left: 0;
					top: 9px;
					width: 6px;
					height: 6px;
					background-color: $blue;
					content: '';
				}

				a {
					font-size: inherit;
					color: $blue;
					position: relative;

					&::after {
						position: absolute;
						left: 25px;
						bottom: 0;
						width: calc(100% - 25px);
						height: 1px;
						background-color: $blue;
						content: '';
						transition: inherit;
					}

					@include hover {
						text-decoration: none;
						color: $blue-dark;

						&::after {
							background-color: $blue-dark;
						}
					}
				}
			}
		}

		ol {
			padding-left: 0;
			counter-reset: item;

			li {
				list-style-type: none;
				font-size: 18px;
				color: $nbBlack;
				padding-left: 10px;

				&:not(:last-of-type) {
					margin-bottom: 10px;
				}

				&::before {
					content: counter(item) '. ';
					counter-increment: item;
					color: $blue;
					font-weight: $extra-bold;
					right: 8px;
					position: relative;
				}

				a {
					color: $blue;
					position: relative;

					&::after {
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 1px;
						background-color: $blue;
						content: '';
						transition: inherit;
					}

					@include hover {
						text-decoration: none;
						color: $blue-dark;

						&::after {
							background-color: $blue-dark;
						}
					}
				}
			}
		}

		table {
			thead tr {
				background-color: $blue-lightest;
			}

			th,
			th:first-of-type,
			td,
			td:first-of-type {
				padding: 15px 25px;
			}

			th {
				font-weight: $extra-bold;
				font-size: 14px;
				color: $blue;
			}

			tbody tr {
				&:nth-of-type(odd) {
					background-color: $white;
				}

				&:nth-of-type(even) {
					background-color: $blue-lightest;
				}
			}

			td {
				font-size: 16px;
				color: $nbBlack;

				&:first-of-type {
					color: $blue;
					max-width: 190px;
					width: 190px;
				}
			}
		}

		.uk-text-small {
			color: $nbBlack;
		}

		.uk-accordion {
			>:nth-child(n+2) {
				margin-top: 5px;
			}

			li {
				background-color: $white;
				box-shadow: 0 10px 30px -13px rgba($blue, .1);
				border-radius: 10px;

				.uk-accordion-title {
					font-weight: $extra-bold;
					color: $blue;
					font-size: 16px;
					text-transform: uppercase;
					position: relative;
					padding: 20px 20px 20px 70px;

					&::before {
						color: $blue;
						position: absolute;
						font-family: 'svgicons';
						left: 25px;
						content: font-char($plus);
						float: none;
						background-image: none;
					}
				}

				&.uk-open {
					a::before {
						content: font-char($minus);
					}
				}
			}

			table {
				tr {
					&:nth-of-type(odd) {
						background-color: $blue-lightest;
					}

					&:nth-of-type(even) {
						background-color: $white;
					}
				}

				td:first-of-type {
					max-width: 190px;
					width: 190px;
				}
			}

			.uk-accordion-content {
				padding: 0 40px 45px 70px;
				margin-top: 0;
			}

			@media (max-width: $breakpointSmall) {
				li .uk-accordion-title {
					padding: 20px 20px 20px 35px;

					&::before {
						left: 0;
					}
				}

				.uk-accordion-content {
					padding: 0 20px 45px 35px;
				}
			}
		}

		@media (max-width: $breakpointMobile) {

			.align_right,
			.align_left,
			.align_center {
				clear: both;
				float: none;
				margin: $nbSpaceSmall 0;
				width: 100%;
			}
		}

		.TextformatterVideoEmbed {
			margin: $nbSpace 0;
		}
	}

	&-slideshow {
		.uk-slideshow {
			border-radius: 20px;

			li {
				border-radius: 20px;
				overflow: hidden;
			}
		}

		.uk-overlay-primary {
			background-color: transparent;
			padding: 20px;
			position: relative;

			&::before {
				background: linear-gradient(to top, $blue 0%, transparent 100%);
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100px;
				content: '';
				position: absolute;
				z-index: 0;
			}

			span {
				position: relative;
				z-index: 1;
				color: $white;
				font-size: 16px;
			}
		}

		.uk-slidenav {
			box-shadow: 0 10px 30px -13px rgba($blue, .1);
			border-radius: 50px;
			background-color: $white;
			width: 58px;
			height: 58px;
			transition: $nbSec ease-in-out;

			svg {
				display: none;
			}

			&::before {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: $blue;
				transition: inherit;
				font-family: 'svgicons';
				font-size: 26px;
			}

			@include hover {
				background-color: $blue;
				text-decoration: none;

				&::before {
					color: $white;
				}
			}
		}

		.uk-slidenav-previous {
			transform: translateY(-50%) translateY(-15px) translateX(-75%);

			&::before {
				content: font-char($chevron-left);
			}
		}

		.uk-slidenav-next {
			transform: translateY(-50%) translateY(-15px) translateX(75%);

			&::before {
				content: font-char($chevron-right);
			}
		}

		@media (max-width: $breakpointSmall) {
			.uk-slidenav {
				width: 48px;
				height: 48px;
				&::before {
					font-size: 24px;
				}
			}
			.uk-slidenav-previous {
				transform: translateY(-50%) translateY(-15px) translateX(-55%);
			}
			.uk-slidenav-next {
				transform: translateY(-50%) translateY(-15px) translateX(55%);
			}
		}
	}

	&-gallery {

		.nb-gallery-images {
			margin: 0 -$nbGutterXsmall;
			overflow: hidden;

			.nb-gallery-row {
				display: table;
				width: 100%;

				.nb-gallery-image {
					border: $nbGutterXsmall solid transparent;
					display: table-cell;
					margin: 0;
					outline: none;
					overflow: hidden;
					position: relative;
					vertical-align: top;
					border-radius: 10px;

					img {
						border-radius: 10px;
						height: auto;
						width: 100%;
						vertical-align: middle;
						transition: $nbSec ease-in-out;
					}

					@include hover {
						img {
							transform: scale(.95);
						}
					}
				}
			}

			.uk-container-expand & {
				margin: 0 $nbGutterXsmall;
			}
		}
	}

	&-form {
		margin-bottom: 40px;

		*+.uk-grid-margin-small,
		.uk-grid+.uk-grid-small,
		.uk-grid-small>.uk-grid-margin {
			margin-top: 20px;
		}

		.nb-form-content {
			padding-top: 5px;
			position: relative;

			ul {
				margin: 0 0 $nbGutterSmall;
				padding: 0;

				li {
					display: inline-block;
					list-style: none;
					width: 100%;
				}
			}
		}

		.nb-placeholder {
			font-size: 14px;
			color: $nbBlack;
		}

		.uk-form-label {
			line-height: 1;
			font-size: 16px;
			font-weight: $extra-bold;
			color: $blue;
			margin-bottom: 0;

			i {
				margin-right: $nbGutterSmall;
			}
		}

		.uk-checkbox {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.uk-radio {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.nb-form-error {
			font-size: 0.875em;
			font-weight: 700;
			margin-bottom: $nbGutterSmall;

			.uk-icon {
				position: relative;
				top: -1px;
			}
		}

		.g-recaptcha {
			margin-bottom: 1rem;
		}
	}

	&-clients {

		.nb-client-box {
			display: flex;
			padding-right: 25.83%;
		}

		.nb-client-text {
			background-color: $white;
			box-shadow: 0 10px 30px -13px rgba($black, .1);
			border-radius: 25px;
			padding: 33px 190px 45px 50px;

			img {
				width: auto;
			}

			h3 {
				margin-top: 20px;
				font-size: 34px;
				margin-bottom: 15px;
			}

			p {
				margin-top: 0;
			}

			p,
			a {
				font-size: 18px;
			}

			span,
			a {
				color: $blue;
			}

			p {
				color: $nbBlack;
				margin-bottom: 25px;
			}

			span {
				display: block;
				font-size: 16px;
				margin-bottom: 15px;
			}

			ul {
				padding: 0;
				margin: 0;
			}

			li {
				&:not(:last-of-type) {
					margin-bottom: 5px;
				}

				a {
					font-size: 18px;
					padding-left: 30px;
					position: relative;
					font-weight: $extra-bold;

					&::after {
						font-size: 14px;
						color: $blue;
						position: absolute;
						left: 0;
						top: 0;
						font-family: 'svgicons';
						content: font-char($arrow-right);
						transition: inherit;
					}

					@include hover {
						color: $blue-dark;
						text-decoration: none;

						&::after {
							color: $blue-dark;
						}
					}
				}
			}
		}

		blockquote {
			background-color: $blue;
			box-shadow: 0 10px 30px -3px rgba($blue, .3);
			border-radius: 20px;
			padding: 60px 55px 65px 65px;
			max-width: 480px;
			margin: 0;
			width: 100%;

			&::before {
				position: absolute;
				color: $blue-light;
				font-size: 140px;
				left: 1px;
				top: -9px;
				z-index: 0;
				transform: none;
			}

			&::after {
				display: none;
			}

			p,
			span {
				color: $white;
				z-index: 1;
				position: relative;
			}

			p {
				font-size: 20px;
			}

			span {
				font-size: 16px;
			}
		}

		@media (max-width: $breakpointLarge) {
			.nb-client-text {
				padding: 33px 250px 45px 50px;
			}

			blockquote {
				padding: 60px 45px 65px 50px;
				max-width: 430px;
			}
		}

		@media (max-width: $breakpointMedium) {
			.nb-client-box {
				padding-right: 0;
				display: block;
			}

			.nb-client-text {
				padding: 33px 30px 230px 50px;

				img {
					max-width: 250px;
				}
			}

			blockquote {
				margin-top: -200px;
				position: relative !important; // sass-lint:disable-line no-important
				max-width: 90%;

				&::before {
					font-size: 110px;
					top: -6px;
				}
			}
		}

		@media (max-width: $breakpointSmall) {
			.nb-client-text {
				padding: 33px 20px 230px 20px;
			}

			blockquote {
				padding: 50px 20px 45px;

				p {
					font-size: 18px;
				}
			}
		}
	}

	&-share {
		border-radius: 20px;
		background-color: $white;
		padding: 15px 45px 15px 50px;
		box-shadow: 0 15px 40px 5px rgba($blue, .2);
		margin: 95px 0 45px;

		span {
			color: $blue;
			font-weight: $extra-bold;
			font-size: 20px;
		}

		ul {
			margin: 0;
		}

		li {
			display: flex;
			align-items: center;

			&:not(:first-of-type) {
				margin-left: 10px;
			}

			a {
				display: inline-block;
				width: 55px;
				height: 55px;
				border-radius: 50%;
				background-color: $blue-lightest;
				position: relative;

				&::before,
				svg {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					position: absolute;
					transition: $nbSec ease-in-out;
				}

				@include hover {
					text-decoration: none;

					&::before,
					svg {
						color: $white;
						fill: $white;
					}
				}

				&.uk-icon[data-uk-icon='facebook'] {
					color: $blue-facebook;
					fill: $blue-facebook;

					@include hover {
						background-color: $blue-facebook;
					}
				}

				&.uk-icon[data-uk-icon='twitter'] {
					color: $blue-twitter;
					fill: $blue-twitter;

					@include hover {
						background-color: $blue-twitter;
					}
				}

				&.uk-icon[data-uk-icon='linkedin'] {
					color: $gray-linkedin;
					fill: $gray-linkedin;

					@include hover {
						background-color: $gray-linkedin;
					}
				}

				&.font-envelope {
					color: $nbBlack;

					@include hover {
						background-color: $nbBlack;
					}
				}
			}
		}

		@media (max-width: $breakpointSmall) {
			padding: 15px 20px 15px;

			>.uk-flex {
				flex-direction: column;
			}

			span {
				margin-bottom: 15px;
			}

			ul {
				padding-left: 0;

				li a {
					width: 50px;
					height: 50px;
				}
			}
		}

		&.nb-block-share-widget {
			background-color: transparent;
			padding: 0 0 0 10px;
			box-shadow: none;
			margin: 0;
			z-index: 2;

			span {
				margin-bottom: 7px;
				font-size: 10px;
				text-transform: uppercase;
				display: block;
			}

			ul {
				padding: 0;
			}

			li {
				margin-bottom: 5px;

				&:not(:first-of-type) {
					margin-left: 0;
				}

				a {
					width: 48px;
					height: 48px;
					background-color: $white;
					box-shadow: 7px 6px 25px 1px rgba($blue, .2)
				}
			}
		}
	}

	&-embed {
		iframe {
			width: 100%;
		}
	}
}


.nb-copyright {
	color: $white;
	font-size: 13px;
	line-height: 1.9;

	@media (max-width: $breakpointXsmallMax) {
		margin-bottom: 25px;

		a img {
			position: relative;
			top: 1px;
		}
	}
}

.nb-key-info-wrap {
	position: absolute;
	right: 40px;
	top: 905px;
	box-sizing: content-box;
	padding-left: 15px;
	padding-right: 15px;

	@media (min-width: $breakpointMedium) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (min-width: $breakpointSmall) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: $breakpointLargeMax) {
		position: relative;
		top: auto;
		right: auto;
		max-width: 900px;
		margin: 0 auto;
	}
}

.nb-key-info {
	box-shadow: 0 25px 55px -11px rgba($blue, .4);
	background-color: $white;
	padding: 35px 25px 30px;
	border-radius: 25px;
	max-width: 270px;

	h3 {
		font-size: 20px;
		margin-bottom: 25px;
	}

	ul {
		margin-bottom: 25px;
		padding: 0;

		li {
			border-bottom: 2px solid $blue-sky;
			padding: 3px 0px;
		}

		span {
			&:first-of-type {
				color: $blue;
				font-weight: $extra-bold;
			}

			&:last-of-type {
				color: $nbBlack;
				font-size: 14px;
			}
		}
	}

	.uk-button-secondary {
		line-height: 1.3;
		min-width: 100%;
		padding: 10px 20px 11px;
		text-transform: none;

		span {
			top: auto;
			bottom: 0;
			line-height: inherit;
			right: 19px;

			&::before {
				content: font-char($download);
			}
		}
	}
}
