.nb-credit {
	line-height: 1;
	color: $white;
	padding-top: $nbGutterSmall;
	font-size: 13px;

	a {
		color: inherit;
		font-size: inherit;

		@include hover {
			text-decoration: none;
		}

		img {
			width: 17px;
			vertical-align: bottom;
			left: 5px;
			position: relative;
		}
	}
}
