.nb-legal {

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			margin: 0;

			&:not(:last-of-type) {
				padding-right: 25px;
			}

			a {
				color: $white;
				position: relative;
				font-size: 13px;

				&::after {
					position: absolute;
					height: 1px;
					background-color: $white;
					content: '';
					width: 100%;
					opacity: 0;
					transition: inherit;
					left: 0;
					bottom: 0;
				}

				@include hover {
					color: $white;
					text-decoration: none;

					&::after {
						opacity: 1;
					}
				}
			}
		}
	}

	@media (max-width: $breakpointXsmallMax) {
		ul {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;

			li {
				margin-bottom: 3px;

				&:not(:last-of-type) {
					padding-right: 20px;
				}
			}
		}
	}
}
