.header {
    padding: 0 40px;

    .uk-navbar {
        display: block;
    }

    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: $white-shade;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .uk-navbar-left {
        z-index: 1;
    }

    .uk-logo {
        padding-left: 25px;

        img {
            width: 345px;
        }
    }

    .navbar-top {
        padding: 10px 60px 11px;
        background-color: $blue;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;

        ul {
            padding: 0;
            margin: 0;

            &:first-of-type {
                li:not(:first-of-type) {
                    padding-left: 30px;
                }

                a {
                    position: relative;

                    &::after {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 0;
                        height: 1px;
                        background-color: $white;
                        transition: inherit;
                        opacity: 0;
                        content: '';
                    }

                    @include hover {
                        text-decoration: none;

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            &:last-of-type li {
                color: $white;
                font-size: 14px;
                display: flex;
                align-items: center;
                padding-left: 15px;
                &:first-of-type {
                    padding-left: 40px;
                }

                a {
                    @include hover {
                        transform: scale(1.08);
                    }
                }

                svg {
                    width: 18px;
                }
            }
        }

        a,
        a svg {
            color: $white;
        }

        a {
            font-size: 14px;
        }

        a svg {
            fill: $white;
        }
    }

    .navbar-bottom {
        padding-right: 60px;
        position: relative;
    }

    .uk-navbar-nav {

        button,
        a {
            color: $blue;
            font-size: 16px;
            font-weight: $extra-bold;
            padding: 20px 15px;
            min-height: 90px;
            line-height: 1.5;
            font-family: $font-default;

            svg {
                color: $green;
                fill: $green;
                margin-left: 2px;
            }

            @include hover {
                color: $green;
            }
        }

        .uk-open {
            color: $green;
        }
    }

    .uk-button-secondary {
        margin-left: 15px;
        min-width: 200px;
    }

    .uk-navbar-dropdown {
        max-width: 250px;
        width: 100%;
        border-radius: 10px;
        padding: 30px 30px 35px;

        li {
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
        }

        a {
            padding: 0;
            font-size: 18px;
            min-height: 0;
            transition: $nbSec ease-in-out;
            @include hover {
                color: $green;
            }
        }
    }

    .burger-menu {
        background-color: transparent;
        margin-right: 3px;
        position: relative;
        width: 58px;
        height: 67px;

        span,
        span::after,
        span::before {
            position: absolute;
            content: '';
            background: $blue;
            height: 4px;
            width: 20px;
        }

        span {
            pointer-events: none;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &::after,
            &::before {
                left: 0;
            }

            &::after {
                top: -7px;
            }

            &::before {
                top: 7px;
            }
        }
    }

    @media (max-width: $breakpointXlarge) {
        .uk-logo img {
            width: 240px;
        }

        .uk-navbar-nav {

            a,
            button {
                padding: 20px 7px;
            }
        }

        .uk-button-secondary {
            min-width: 170px;
            padding: 6px 40px 9px 20px;
        }
    }

    @media (max-width: $breakpointMediumMax) {
        padding: 0;

        .uk-navbar-container {
            min-height: 87px;
            display: flex;
            justify-content: flex-end;
            padding-top: 20px;

            &::after {
                background-color: $blue;
                position: absolute;
                left: 20px;
                top: 0;
                height: 20px;
                content: '';
                width: calc(100% - 40px);
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }

        .uk-navbar-left {
            top: 8px;
            transform: none;
        }

        .uk-logo {

            img {
                width: 225px;
            }
        }

        .navbar-bottom {
            position: static;
        }
    }
}

.uk-modal {
    background: rgba($blue, .9);
    padding: 0;

    .uk-modal-dialog,
    .uk-navbar-dropdown {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .uk-navbar-dropdown-nav {
        li {
            a, button {
                @include hover {
                    color: $green;
                }
            }
        }
    }

    .uk-modal-dialog {
        padding: 23px 40px 40px 20px;
    }

    .uk-close {
        line-height: 0;
        top: 18px;
        right: 15px;
        z-index: 1023;

        svg {
            color: $blue;
            fill: $blue;
        }
    }

    .nav-bottom {
        padding-left: 0;

        li button,
        li a {
            text-align: left;
        }

        li a {
            width: 100%;
        }

        li button {
            width: 95%;
        }
    }

    a,
    button,
    span {
        color: $blue;
        font-weight: $extra-bold;
        font-size: 24px;
    }

    a,
    button {
        @include hover {
            color: $green;
        }
    }

    button svg {
        color: $green;
        fill: $green;
    }

    button {
        line-height: 1.5;
    }

    li {
        &:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }

    
    .nav-social {
        margin-bottom: 25px;

        li {
            margin-bottom: 0;

            &:not(:first-of-type) {
                padding-left: 20px;
            }
        }

        a {
            padding: 0 3px;

            svg {
                width: 16px;
            }
        }
    }

    .uk-navbar-dropdown {
        background-color: $white;
        box-shadow: none;
        left: 0 !important; // sass-lint:disable-line no-important
        top: 0 !important; // sass-lint:disable-line no-important
        margin-top: 0;
        width: 100%;
        min-height: 100%;

        a,
        button {
            font-size: 20px;
            color: $blue;
        }

        li {
            width: 100%;

            &:first-of-type {
                margin-bottom: 25px;

                button {
                    font-size: 16px;
                    padding-left: 5px;
                    position: relative;

                    svg {
                        position: absolute;
                        left: 0;
                        top: 2px;
                        transform: translateX(-70%);
                    }
                }
            }

            &:nth-of-type(2) {
                margin-bottom: 25px;
            }

            &:not(:first-of-type):not(:nth-of-type(2)) {
                margin-bottom: 10px;

                a {
                    padding-left: 15px;
                }
            }
        }
    }
}
