@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .banner-inner {
        background-attachment: scroll !important;
    }

    .header .navbar-bottom {
        justify-content: flex-start !important;
    }

    .footer {
        max-width: 100%;
        overflow: hidden;
    }

    .uk-slideshow-items img {
        width: auto;
        max-width: none;
    }
    .uk-breadcrumb a::after {
        transition: $nbSec ease-in-out;
    }
}

@supports (-ms-ime-align:auto) {
    .footer {
        max-width: 100%;
        overflow: hidden;
    }
}